<!DOCTYPE html>
<html>
<head>
    <title>My First Webpage</title>
    <style>
        body{
            text-align: center;
        }
        button {
            background-color: blue;
            color:white;

        }
        </style>
</head>
<body>
    <h1>Email Spam Classifier</h1>
    <form method="post" action="/predict">
        <textarea name="email-content" placeholder="Enter Your email body" , rows="15" cols="35" autocomplete="off">{{ text }}</textarea>
        <div>
            <button type="submit">Check Spam</button>
            <a href="/">Reset</a>
        </sdiv>
    </form>
    
    {% if response == -1 %}
    <h2 style="color:green">Not Spam</h2>
    {% else %}
    <h2 style="color:red">Spam</h2>
{% endif %}
</body>
</html>